<h1>Login</h1>

<form action="/login" method="post">
    Enter Username: <input type=text name="username" ><br><br>
    Enter Password: <input type=password name="password" ><br><br>
    <div class="checkbox">
    <label><input type="checkbox"> Remember me</label>
    <input type=submit value="Login" >
</form>
<br>

<p><img src= "https://i.pinimg.com/originals/ca/5b/86/ca5b865a2f3b7e395d058de82c838c5f.jpg" class="slight-corner" align="left" height ="350" width="250" ></p>
<br>
<br>