<h1>Signup:</h1>

<form action="/signup" method="POST">
    Enter Username: <input type=text name="username" ><br><br>
    Enter Password: <input type=password name="password" ><br><br>
    Enter Location: <input type=text name="location"><br><br><br>
    <input type=submit value="Signup" >
</form>