@media screen {
  /* --- Reset Styles --- */
  * {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
    width: 100%;
  }

  /* --- Welcome Page Styles --- */
  body {
    background-image: url("https://www.muralswallpaper.com/app/uploads/70s-rainbow-wave-retro-wallpaper-mural-Plain-820x532.jpg");
    background-color: rgb(32, 60, 70);
    color: #333;
    font-family: Sans-Serif;
    line-height: 20px;
  }

  .wrapper {
    
    background: rgb(61, 153, 156);
    -moz-box-shadow: 0 0 10px rgba(0,0,0,.3);
    -webkit-box-shadow: 0 0 10px rgba(241, 234, 234, 0.3);
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    margin: 16px auto;
    max-width: 960px;
    padding: 2.25%; /* 18px / 800px */
    width: 85%;
  }

  h1 {
    font-size: 36px;
    line-height: 54px;
  }

  h2 {
    border-bottom: 2px solid #ccc;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 16px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  p {
    margin-bottom: 18px;
  }

  .main {
    overflow: hidden;
  }

  .content {
    float: left;
    width: 60%; /* 480px / 800px */
  }

  .sidebar {
    background: #eee;
    border: 1px solid #ccc;
    float: right;
    padding: 2.08333333333%; /* 5px / 240px */
    width: 30%; /* 240px / 800px */
  }

  .sidebar ul {
    font-size: 14px;
  }

  .branding {
    clear: both;
  }

  footer.branding {
    border-top: 2px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: auto;
  }

  .content, .sidebar {
    float: none;
    width: 100%;
  }

  .sidebar {
    background: rebeccapurple;
    border: none;
    border-top: 2px solid #ccc;
    padding: 0;
  }

  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }
}

HTML CSSResult Skip Results Iframe
EDIT ON
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(https://fonts.googleapis.com/css?family=Lobster+Two:700italic);
@import url(https://fonts.googleapis.com/css?family=Six+Caps);
@import url(https://fonts.googleapis.com/css?family=Oswald);
* {
  box-sizing: border-box;
}

p {
  padding: 2em 2rem;
  text-align: center;
}

.atari {
  font-family: 'press start 2p';
  font-size: 3rem;
  background: #1e1e28;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 .1em 0 #000;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjMiLz48c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4wIi8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat;
  background-size: 20px 10px;
}

.fifties {
  font-family: lobster two;
  background: #1e82e6;
  color: white;
  text-shadow: 0 8px 0 #156bc1;
  font-size: 8rem;
  padding: 1em 2rem;
}

.ninetyfive {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 3rem;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: -0.1em 0.1em 0 rgba(250, 10, 10, 0.5), 0.1em -0.1em 0 rgba(10, 10, 250, 0.5);
}

.modernist {
  font-family: six caps;
  text-transform: uppercase;
  background: #FF3743;
  background-size: 100%;
  color: white;
  letter-spacing: .2em;
  font-size: 6rem;
  text-shadow: .07em .07em 0 #FF3743, .1em .1em 0 white;
}

.sport {
  background-image: url(https://25.media.tumblr.com/db77c4c7f0322d74f788abe496249b77/tumblr_mrnnfhrC2g1sfie3io1_1280.jpg);
  background-size: 100%;
  background-position: center;
  font-size: 5rem;
  padding: 2em 2rem;
  font-family: oswald;
  color: white;
}
