Edit Post:


<form action="/posts/<%= @post.id %>" method="post">
    <input type="hidden" name="_method" value="patch">
    Trick: <input type="text" name="title" value="<%= @post.trick_to_learn %>">
    Description: <textarea name="content"><%= @post.description %></textarea>
    Accomplished: (add checkboxes later)
    <input type="submit" value="Edit Post">
</form>