<h1>Feed Page:</h1>

<a href="/posts/new"> New Post </a><br>
<%# <a href="/myposts "> My Posts </a><br> %>


<% @posts.each do |p| %>
    <p><%= p.trick_to_learn %> - <%= p.id %> - <%= p.description %><br>
    <% if current_user %>
    <a href="/posts/<%= p.id %>/edit">Edit</a> 
    <% end %>

        
    </p>
<% end %>

