<h2>Add a Trick!</h2>
<form action="/posts" method="post">
    Trick To Learn: <input type="text" name="trick_to_learn"><br><br>
    Description: <textarea name="description"></textarea><br><br>
    Link: <input type="text" name="link"><br><br>
    Accomplished?:<input type="text" name="accomplished">

    <br>
    <input type="submit" value="Create Post">
</form>

