<h2>Add a Trick!</h2>
<form action="/posts" method="post">
    Trick To Learn: <input type="text" name="trick_to_learn">
    Description: <textarea name="description"></textarea>
    Link: <input type="text" name="link" >
    <input type="submit" value="Create Post">
</form>