<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="ninetyfive">Welcome To SkateSesh</h1>
    

    <div class="content">
      <p>Welcome to Skate Sesh! This is an application for roller skaters(for now) to log your 
      skate progress. Everyone knows that before you get good at something one MUST practice! 
      What better way to track your skate progession than having a quick simple app to help along the way? 
      <br>
      <br>
      Whether you find yourself having a hard time focusing on what trick or dance move to learn, 
      simply need to have a visual representation of your skate journey as an additional tool, or you 
      may want to just hang around and root for everyones else's progress. This app is the one for you!
      <br>
      <br>
      The rollerskate community welcomes everyone of ALL skill level! Happy Skating Everyone! 
      <br>
      <br>

      <img src= "https://media.istockphoto.com/photos/rollerskates-in-the-roller-disco-picture-id157618477?k=6&m=157618477&s=612x612&w=0&h=37wITbI0gH_WjWkhbyCglZ8WWqwWt_ag-rJViXhGGR8=
" class="slight-corner" height ="325" width="500">
      </p>

    </div>

    <% if !logged_in? %>

    <div class="sidebar">
      <h3>Get Started</h3>
      <ul><br>
        <li>Login: <a href="/login">Login</a><br></li>
        <li>SignUp: <a href="/signup">Sign Up</a></li>
      </ul>
    </div>
    <% end %>
  </div>
</div>
